.cart-page {
  padding: 20px;
  background-color: rgb(166, 241, 201);
}

.cart-item {
  display: flex;
  gap: 20px;
  align-items: center;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  background: #fff;
}

.cart-item img {
  width: 120px;
  height: 140px;
  object-fit: contain;
}

.cart-details h3 {
  margin: 0;
}

.cart-details p {
  font-weight: bold;
  margin: 8px 0;
}

.cart-details button {
  padding: 6px 12px;
  border: none;
  background: crimson;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.qty-box {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 8px 0;
}

.qty-box button {
  padding: 4px 10px;
  font-size: 16px;
  cursor: pointer;
}

.total {
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
}
