.banner-wrapper {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  gap: 20px;
  margin: 20px 0;
}


.product-headline{
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    font-family:cursive;
    text-decoration:underline;
    color: blueviolet;
    background-color: #ecf0f5;
}


.product-grid {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px 70px;
  flex-wrap: wrap; 
}

.product-card {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  background: #fff;
  font-size: 16px;
}

.product-card img {
  width: 200px;
  height: 240px;
}

.product-card button {
  margin-top: 10px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  color: rgb(243, 73, 107);
}

.product-card h3{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

.product-card p{
    font-size: 20px;
    background-color: rgb(56, 50, 41);
    color: white;
}

.added-btn {
  background-color: #4caf50;
  color: white;
  cursor: not-allowed;
}

.search-input {
  width: 300px;
  padding: 10px;
  margin: 20px auto;
  display: block;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
