.img-logo{
    height: 50px;
    width: 70px;
    text-align: center;
}

.navbar{
    background-color:rgb(233, 155, 10);
    display: flex;
    justify-content: space-between;
    padding : 0px 70px;
    align-items : center;
    border: 1px solid rgb(19, 18, 18);
    border-radius: 10px;
    position: sticky;
    top : 0;
    z-index: 1;

}
.navbar h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.navbar-link{
    color: black;
    display: flex;
    justify-content: space-between;
    gap: 45px;
    list-style: none;
}
.navbar-link a{
    text-decoration-line: none;
    font-size: 18px;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar-link :hover{
    text-decoration: underline;
}

.btn{
    padding: 3px 15px;
    border: 1px solid rgb(235, 229, 229);
    border-radius: 5px;
}

.btn :hover{
     text-decoration: underline;

}

.search-box {
  width: 400px;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.search-box:hover {
  border: 1px solid #dd0e0e;
}