.add-product-page {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
  background-color: #f4f6f9;
}

.add-product-card {
  background: white;
  width: 450px;
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.add-product-card h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 1700;
  color: #14532d;
  margin-bottom: 30px;
  text-decoration: underline;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 4px;
  color: #444;
}

.form-group input,
.form-group textarea {
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #2563eb;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.btn-primary {
  background-color: #16a34a;
  color: white;
  padding: 8px 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: #15803d;
}

.btn-secondary {
  background-color: #6b7280;
  color: white;
  padding: 8px 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: #4b5563;
}
