.pm-header {
  display: flex;
  flex-direction: column;
  align-items: center;     /* horizontal center */
  justify-content: center; /* vertical center */
  gap: 15px;
  margin-bottom: 25px;
  background-color: rgb(236, 233, 247);
  padding: 20px;
}

.pm-title {
  font-size: 38px;
  font-weight: 800;
  color: rgb(140, 26, 188);
  font-family: "Segoe UI", sans-serif;
  border-bottom: 4px solid rgb(140, 26, 188);
  padding-bottom: 6px;
}

.add-btn {
  padding: 10px 18px;
  background-color: #16a34a;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #15803d;
}

.pm-table {
  width: 88%;
  border-collapse: collapse;
  margin: auto;
}

.pm-actions {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.specs-cell {
  max-width: 280px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.desc-cell {
  max-width: 280px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pm-table th,
.pm-table td {
  border: 1px solid #b800d1;
  padding: 12px;
  text-align: center;
  vertical-align: middle;
}

.pm-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.pm-image {
  width: 70px;
  height: 90px;
  object-fit: contain;
  border-radius: 4px;
  background-color: #f9f9f9;
  padding: 4px;
}

/* Buttons */
.edit-btn {
  padding: 6px 10px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 6px;
}

.edit-btn:hover {
  background-color: #1d4ed8;
}

.delete-btn {
  padding: 6px 10px;
  background-color: #dc2626;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #b91c1c;
}

/* Table row hover */
.pm-table tr:hover {
  background-color: #f2ecec;
}

.category-select {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  cursor: pointer;
}
